@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans';
    margin: 0;
}

/* colocando as variáveis com o :root */

:root {
    --bg-gray: #ddd;
    --text-gray: #4a4a4a;
    --color-primary: #4d41c0;
    --white: #fff;
    --text-light-gray: #aaa;
    --star-yellow:  #FFBB3A;


}

html, body, main {
    background-color: var(--bg-gray);
}

header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
}

nav {
    /* atributos abaixo fazem o alinhamento do cabeçalho */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilizar o h1 dentro do nav */
nav h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

#git {
    color: unset;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;
}

.dsmovie-contact-container img {
    margin-right: 10px;
}

#dsmovie-card-list {
    padding: 0px 10px;

}

/* Para os cards ficarem responsivos, colocar o widht em 100%, porém não é somente isso, para as colunas diminuirem na página quando a página encolher é preciso ver os Breakpoints do Bootstrap, olhar esse link, https://github.com/devsuperior/sds-dsmovie/tree/main/episodio1-iniciante*/
.dsmovie-card {
    width: 100%;
    
}

.dsmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dsmovie-card-description {
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
    height: 200px;
}

.dsmovie-card-description h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
}

.dsmovie-card-description-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmovie-card-description-bottom h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--star-yellow);
}

.dsmovie-card-description-bottom p {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light-gray);
    margin-bottom: 10px;
}

.dsmovie-card-description-bottom img {
    width: 22px;
}

.dsmovie-btn, .dsmovie-btn:hover {    
    text-decoration: none;
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    border: 0;
}

.dsmovie-form-container {
    padding: 40px 0;
    max-width: 480px;
}

.dsmovie-form-description {
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

.dsmovie-form-description h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}

.dsmovie-form {
    width: 100%;
}

.dsmovie-form-group {
    margin-bottom: 20px;
}

.dsmovie-form-group label {
    font-size: 12px;
    color: var(--text-light-gray);
}

.dsmovie-form-btn-container {
    /* para os botões terem um espaçamento entre eles foi usado height de 100px e justify-content: space-between */
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
}

.dsmovie-pagination-container {
    padding: 15px 15px;
    display: flex;
    justify-content: center;
}

.dsmovie-pagination-box {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dsmovie-pagination-box p {
    margin: 0;
    color: var(--color-primary);
    font-size: 12px;
    font-weight: 400;
}

.dsmovie-pagination-box button {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;

}

    /* Conforme a aula, foi preciso estilizar o botão seletor para a seta não ficar apagada, entrar no link https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element, e ler todo material de como mudar a cor de um SVG
    aqui foi aplicado os filtros do img que está dentro do botão habilitado  */
.dsmovie-pagination-box button img {
    filter: brightness(0) saturate(100%) invert(25%) sepia(76%) saturate(1937%) hue-rotate(230deg) brightness(89%) contrast(85%);
}

    /* estilizando botão que estiver disabled/desabilitado */
.dsmovie-pagination-box button:disabled {
    border: 1px solid var(--text-light-gray);
}

    /* aqui foi preciso colocar o filter como unset para a cor do botão ficar como desabilitada  */
.dsmovie-pagination-box button:disabled img {
    filter: unset;
}

    /* foi aplicado o transform: rotate(180deg) para a segunda img que estava apontando para esq. virar para direita */
.dsmovie-flip-horizontal {
    transform: rotate(180deg);
}
